.trabajaconnosotros {
    p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 25px;
    text-align: center;
    background-color: beige;
    line-height: 2;
    }
}